<div class="email-card {{type}}">
    <div class="email-card__header">
        <div class="email-card__header-title">{{email.title}}</div>
    </div>
    <div class="email-card__sender">
        <div class="email-card__sender-name">{{email.sender}}</div>
        <div class="email-card__date">{{email.date}}</div>
    </div>
    <div class="email-card__description">{{email.description}}</div>
</div>