<div class="container">
  <div class="entryarea">
    <input 
      type="{{type}}"
      name="{{name}}"
      {{#if id}}id="{{id}}"{{/if}}
      {{#if value}}value="{{iva}}"{{/if}}
      {{#if required}}required{{/if}}
      {{#if disabled}}disabled{{/if}}
      {{#if minlength}}minlength="{{minlength}}"{{/if}}
      {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
      spellcheck="false"

    >
    <div class="labelline">{{label}}</div>
  </div>
</div>