<div class="element_menu {{#if active}}active{{/if}}" data-url="{{navigation_url}}">
    <div class="body_element" >
        <img class="svg_icon" src="{{url}}">
        <div class="element_text">{{element_text}}</div>
    </div>
    <div id="{{navigation_url}}" class="count">{{#if count}}{{count}} {{/if}}</div>
</div>

